 * {
     margin: 0px;
     padding: 0px;
 }


 input {
     background-color: rgb(7, 66, 27);
     border: 1px dotted rgb(89, 220, 72);
     color: aliceblue;
     font-size: 42px;
     width: 200px;
     height: 60px;
     margin: auto;
     min-height: 100px;
     display: table-cell;
     vertical-align: middle;
 }


 span {
     position: absolute;
     font-size: 20px;
     overflow: hidden;
 }

 .cls {
     background-color: #000;
     width: 200px;
     height: 50px;
     margin: auto auto;
     padding: auto;
     font-size: 32px;
     overflow: hidden;

 }

 .star {
     background-color: green;

     margin: auto;
     padding: auto;
     font-family: Arial;
     font-size: 32px;
     overflow: hidden;
     ;
 }