* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: black;
    display: flex;
    width: 1400px;
    height: 900px;
    /* justify-content: center; */
    margin: 0;
    margin-top: 220px;
}


.canvas {
    position: absolute;
    margin-top: 20px;
}